/* variables */
:root{
  --primary: #224316;
}
/* reset */
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
.welcomepage{
  background: var(--primary);
  overflow-x: hidden;
}

/******************************************************************/

/* mobile style */

/* index.html start */
.homepics {
  display: flex;
  flex-direction: column;
}
h1 #welcome {
  font-family: 'Cinzel Decorative', cursive;
  color: #8BD9A1;
  stroke: #224316;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepic img{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

/* index.html end */

/* home.html start */
.homepages{
  background: #ACC2A4;
  overflow-x: hidden;
}

#title1, #title2 {
  margin: 0;
  text-align: end;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: normal;
  font-size: 36px;
}

#title1 a, #title2 a {
  color: black;
}

#title1 {
  margin: 30px 20px 0 0;
}

#title2 {
  margin: 0 20px 15px 0;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Cinzel Decorative', cursive;
  text-transform: lowercase;
  margin-top: 10px;
}

#nav li a {
  color: black;
  font-size: 15px;
}

#nav li a:active {
  background-color: #224316;
  color: white;
}

#frontpic {
  border-radius: 10px;
  margin: 50px 0 0 24px;
  
}

#bottompic {
  border-radius: 10px;
  float: right;
  margin: 80px 24px 0 0;
}

/* home.html end */

/* about.html start */
.aboutimg {
  text-align: center;
  margin-top: 30px;
}

.aboutimg img {
  width: 50%;
  height: auto;
  
}

.abouttxt {
  border: 2px solid #224316;
  padding: 10px;
  margin: 15px 15px 15px 15px;
  text-align: left;
}

.icon {
  text-align: center;
  margin-bottom: 10px;
}

.icon a {
  color: black;
}

/* about.html end */

/*photo.html start */


.gallery ul {
  margin-top: 13px;
}

.gallery ul li {
  height: auto;
  width: 100%;

}

.gallery img {
  max-height: 100%;
  width: 100%;
  
}

/*photo.html end */

/*writing.html start */
.poem {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;

}

.poetry a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.text1, .text2, .text3, .text4 {
  text-align: center;
  margin: 20px 0 20px 20px;
}

.poem1, #text2, #text3, #text4 {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}


/* tablet style */
@media screen and (min-width: 620px){

  .gallery ul {
    display: flex;
    margin-top: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .gallery ul li {
    height: auto;
    width: 100%;
    
    
  }
  
  .gallery img {
    max-height: auto;
    width: 70%;
    flex-basis: 300px;
    
  }

  /* About page */

  .aboutimg {
    text-align: center;
    margin-top: 30px;
  }
  
  .aboutimg img {
    width: 70%;
    height: auto;
    
  }
  
  .abouttxt {
    border: 2px solid #224316;
    padding: 10px;
    margin: 15px 15px 15px 15px;
    text-align: left;
    margin-top: 30px;
  }

  #icon {
    text-align: center;
  }
  
}
/* tablet style end*/
@media screen and (min-width: 920px){

  .gallery ul {
    display: flex;
    margin-top: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .gallery ul li {
    height: auto;
    width: 100%;
    
    
  }
  
  .gallery img {
    max-height: auto;
    width: 40%;
    flex-basis: 300px;
    
  }
  
  
}

/* laptop style */
@media screen and (min-width: 1200px){

  .gallery ul {
    display: flex;
    margin-top: 13px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .gallery ul li {
    height: auto;
    width: 100%;
    
    
  }
  
  .gallery img {
    max-height: auto;
    width: 30%;
    flex-basis: 300px;
    
  }

  .aboutimg img {
    width: 30%;
    height: auto;
    
  }

  .aboutimg {
    margin-left: 20px;
  }

  .abouttxt {
    border: 2px solid #224316;
    padding: 10px;
    margin: 25px 25px 25px 25px;
    
  }
}
/* desktop style */